# packaging
pip>=9
setuptools>=26
twine==4.0.1
wheel>=0.29

# data science
numpy
pandas
scikit-learn
requests
typing_extensions==4.2.0
python-dateutil
requests==2.27.1
streamlit==1.10.0
streamlit-tags==1.2.8

# tests/linter
black
coverage
flake8
pytest
yapf
# API
uvicorn
fastapi
gcsfs
google-cloud-storage
mlflow
s3fs
# utilities
six>=1.14
joblib
memoized-property
termcolor
# keytotext
keytotext
opencv-python
transformers
memoized
