pip>=9
setuptools>=26
twine
wheel>=0.29

numpy
pandas
time
random
pytest
typing-extensions
requests
streamlit
streamlit-tags

# # packaging
# pip>=9
# setuptools>=26
# twine
# wheel>=0.29

# # data science
# numpy
# pandas
# scikit-learn
# requests
# streamlit
# streamlit-tags
# time
# random

# typing-extensions
# requests

# # tests/linter
# black
# coverage
# flake8
# pytest
# yapf

# # API
# uvicorn
# fastapi
# gcsfs
# google-cloud-storage
# mlflow
# s3fs

# # utilities
# six>=1.14
# joblib
# memoized-property
# termcolor

# # keytotext
# keytotext


# opencv-python
# transformers
# memoized
